<div class="container">
  <div class="row">
    <div *ngFor="let user of users" class="col-lg-2 col-md-3 col-sm-6">
      <app-members-card [user] = 'user'></app-members-card>
    </div>
  </div>
</div>
