<form #registerForm="ngForm" (ngSubmit)="register()">
  <h2 class="text-center text-primary">Sign Up</h2>
  <hr />
  <div class="form-group">
    <input
      type="text"
      class="form-control"
      autocomplete="username"
      name="username"
      placeholder="Username"
      [(ngModel)]="model.username"
      required
    />
  </div>
  <div class="form-group">
    <input
      type="password"
      class="form-control"
      name="password"
      autocomplete="password"
      placeholder="Password"
      [(ngModel)] = 'model.password'
      required
    />
  </div>
  <div class="form-group text-center">
    <button class="btn btn-success" type="submit">Register</button>
    <button class="btn btn-default" type="button" (click) = 'cancel()'>Cancel</button>
  </div>
</form>
