<div class="container mt-5">
  <div *ngIf="!registerMode" style="text-align: center;">
    <h1>Find your match</h1>
    <p class="lead">Come on in view your matches... All you need to do is sign up!</p>
    <div class="text-center">
      <button class="btn btn-primary btn-lg mr-2" (click) = 'onRegister()'>Register</button>
      <button class="btn btn-info btn-lg">Learn More</button>
    </div>
  </div>
</div>
<div *ngIf="registerMode" class="container">
  <div class="row justify-content-center">
    <div class="col-4">
      <app-register (registerMode) = 'registerCancelled($event)'></app-register>
    </div>
  </div>
</div>
<!---->
